<h1 mat-dialog-title>Añadir Ruta de aprendizaje</h1>

<div mat-dialog-content>

        <img src="./assets/agregar-usuario.png" alt="" class="loginimg">
        <a href="https://www.flaticon.es/iconos-gratis/agregar-usuario" title="agregar usuario iconos">Agregar usuario iconos creados por Good Ware - Flaticon</a>
        <h1>Añadir Ruta de Aprendizaje</h1>

           

          <mat-form-field  appearance="fill">
            <mat-label>Institucion</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl"
                   [(ngModel)]="selectionins"
                   (focus)="verificacion()"
                   (blur)="verificacion()"
                   (mouseleave)="verificacion()"
                   >
                
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let state of filtrarinstitucion | async" [value]="state.nombre">
                
        <span>{{state.nombre}}</span> 
                
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
          <app-control-messages  [control]="stateCtrl"></app-control-messages>
          <div *ngIf="probarclick == false && inicio">
            <button class="btn" [swal]="['El valor de institución seleccionado presenta un error, selecione otro porfavor']">
              <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
              <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
          </div>
          <mat-spinner *ngIf="loadinggraMat" diameter="30" class="spinner"></mat-spinner>
          <div *ngIf="spinnergraMat">

             <mat-form-field  appearance="fill">
                <mat-label>Materia</mat-label>
                <input matInput
                       aria-label="State"
                       [matAutocomplete]="automateria"
                       [formControl]="stateCtrlmateria"
                       (change)="stateCtrlmateria"
                       [(ngModel)]="selectionmat"
                      (focus)="verificacion()"
                      (blur)="verificacion()"
                      (mouseleave)="verificacion()"
                       >
                       <div *ngIf="showAlert" class="col-md-7 mb-2">
                        <div class="alert alert-danger">
                             <strong>No hay materias disponibles para esta institución</strong>
                        </div>
                    </div>
                <mat-autocomplete #automateria="matAutocomplete" (optionSelected)="selectedmateria($event)">
                  <mat-option *ngFor="let state of filtrarmateria | async" [value]="state.nombre">
                    <span>{{state.nombre}}</span>
         
                    
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              
              <app-control-messages  [control]="stateCtrlmateria"></app-control-messages>
              <div *ngIf="probarclickmat == false && inicio">
                <button class="btn" [swal]="['El valor de materia seleccionado presenta un error, selecione otro porfavor']">
                  <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                  <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
              </div>
              <mat-form-field  appearance="fill">
                <mat-label>Grado</mat-label>
                <input matInput
                       aria-label="State"
                       [matAutocomplete]="autogrado"
                       [formControl]="stateCtrlgrado"
                       (change)="stateCtrlgrado"
                       [(ngModel)]="selectiongra"
                 (focus)="verificacion()"
                 (blur)="verificacion()"
                 (mouseleave)="verificacion()"
                       >
                       <div *ngIf="showAlert" class="col-md-7 mb-2">
                        <div class="alert alert-danger">
                             <strong>No hay grados disponibles para esta institución</strong>
                        </div>
                    </div>
                <mat-autocomplete #autogrado="matAutocomplete" (optionSelected)="selectedgrado($event)">
                  <mat-option *ngFor="let state of filtrargrado | async" [value]="state.grado">
                    <span>{{state.grado}}</span>
         
                    
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              
              <app-control-messages  [control]="stateCtrlgrado"></app-control-messages>
              <div *ngIf="probarclickmat == false && inicio">
                <button class="btn" [swal]="['El valor de matería seleccionado presenta un error, selecione otro porfavor']">
                  <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                  <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
              </div>
              <mat-spinner *ngIf="loadingestdocdba" diameter="30" class="spinner"></mat-spinner>
          <div *ngIf="spinnerestdocdba">

            <mat-form-field  appearance="fill">
                <mat-label>DBA</mat-label>
                       <div *ngIf="showAlertDBA" class="col-md-7 mb-2">
                        <div class="alert alert-danger">
                             <strong>No hay dba disponibles</strong>
                        </div>
                        </div>
                        
                          <mat-select [formControl]="stateCtrldba"
                           [(ngModel)]="selectiondba"
                           (focus)="verificacion()"
                           (blur)="verificacion()"
                           (mouseleave)="verificacion()" name="values" multiple>
                    
                              <mat-select-trigger>
                                 {{stateCtrldba.value?.[0] || ''}}
                                <span *ngIf="(stateCtrldba.value?.length || 0)>1">
                                 (+{{(stateCtrldba.value?.length || 0)-1}} {{stateCtrldba.value?.length===2 ? 'other' : 'others'}})
                                </span>
                              </mat-select-trigger>
                              <mat-option *ngFor="let state of datosdba" (click)="clickedOptionDBA()" [value]="state">
                                
                                
                                {{state}}</mat-option>
                          </mat-select>
                      
                    
                  </mat-form-field>
    
                  <app-control-messages  [control]="stateCtrldba"></app-control-messages>
                  <div *ngIf="stateCtrldba.value.length ==0 && inicio">
                    <button class="btn" [swal]="['El valor de dba seleccionado presenta un error, selecione otro porfavor']">
                      <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                      <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
                  </div>
                  <mat-form-field  appearance="fill">
                    <mat-label>Estudiante</mat-label>
                    <input matInput
                           aria-label="State"
                           [matAutocomplete]="autoestudiante"
                           [formControl]="stateCtrlestudiantes"
                           (change)="stateCtrlestudiantes"
                           [(ngModel)]="selectionest"
                           (focus)="verificacion()"
                           (blur)="verificacion()"
                           (mouseleave)="verificacion()"
                           >
                           <div *ngIf="showAlertEst" class="col-md-7 mb-2">
                            <div class="alert alert-danger">
                                 <strong>No hay estudiantes disponibles</strong>
                            </div>
                        </div>
                    <mat-autocomplete #autoestudiante="matAutocomplete" (optionSelected)="selectedEstudiantes($event)">
                      <mat-option *ngFor="let state of filtrarestudiantes | async" [value]="state.nombre">
                        <span>{{state.nombre}}</span>
             
                        
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
        
                      <app-control-messages  [control]="stateCtrlestudiantes"></app-control-messages>
                      <div *ngIf="probarclickest == false && inicio">
                        <button class="btn" [swal]="['El valor de estudiante seleccionado presenta un error, selecione otro porfavor']">
                          <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                          <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
                      </div>
                      <mat-form-field  appearance="fill">
                        <mat-label>Docente</mat-label>
                        <input matInput
                               aria-label="State"
                               [matAutocomplete]="autodocente"
                               [formControl]="stateCtrldocentes"
                               (change)="stateCtrldocentes"
                               [(ngModel)]="selectiondoc"
                               (focus)="verificacion()"
                               (blur)="verificacion()"
                               (mouseleave)="verificacion()"
                               >
                               <div *ngIf="showAlertDoc" class="col-md-7 mb-2">
                                <div class="alert alert-danger">
                                     <strong>No hay dba disponibles</strong>
                                </div>
                            </div>
                        <mat-autocomplete #autodocente="matAutocomplete" (optionSelected)="selectedDocentes($event)">
                          <mat-option *ngFor="let state of filtrardocentes| async" [value]="state.nombre">
                            <span>{{state.nombre}}</span>
                 
                            
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
            
                          <app-control-messages  [control]="stateCtrldocentes"></app-control-messages>
                          <div *ngIf="probarclickdoc == false && inicio">
                            <button class="btn" [swal]="['El valor de docente seleccionado presenta un error, selecione otro porfavor']">
                              <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                              <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
                          </div>


                        
                        
                          <div *ngIf="activate">

                            <span class="textoerrorinput">La ruta de aprendizaje ya se encuentra registrada</span>
                            <br>
                          </div>

                </div>
          </div>

          

            <div>
            <button   class="ancho boton" mat-flat-button color="warn" mat-dialog-close>Cerrar</button>
            <button *ngIf="btnact"  (click)="Ingresar()" class="ancho boton" mat-flat-button color="primary">Guardar</button>
          </div>
        


</div>