.mat-form-field{
    width: 100%;
}

.loginimg{
    width: 50%;
    height: 80%;
}

.textoerrorinput{
    color:red;
    display: flex;
    align-items: center;
    font-size: small;
    width: 140%;
    height: 3px;
    
}

.inputerrorinputicon{
    color:red;
    display: flex;
    align-items: center;
    font-size: small;
    width: 100%;
    height: 3px;
}

.red-text {
    color: red;
  }