<h1 mat-dialog-title>Añadir RHU</h1>

<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="Ingresar()">
        <img src="./assets/agregar-usuario.png" alt="" class="loginimg">
        <a href="https://www.flaticon.es/iconos-gratis/agregar-usuario" title="agregar usuario iconos">Agregar usuario iconos creados por Good Ware - Flaticon</a>
        <h1>Añadir RHU</h1>

           

          <mat-form-field  appearance="fill">
            <mat-label>Institucion</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl"
                   [(ngModel)]="selectionins"
                       (focus)="verificacion()"
                       (blur)="verificacion()"
                       (mouseleave)="verificacion()"
                   >
                
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let state of filtrarinstitucion | async" [value]="state.nombre">
                
        <span>{{state.nombre}}</span> 
                
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
          <app-control-messages  [control]="stateCtrl"></app-control-messages>
          <div *ngIf="probarclick == false && inicio">
            <button class="btn" [swal]="['El valor de institución seleccionado presenta un error, selecione otro porfavor']">
              <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
              <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
          </div>


          <mat-spinner *ngIf="loading" diameter="30" class="spinner"></mat-spinner>
        <div *ngIf="spinner">

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Video visto</mat-label>
                <input matInput  autocomplete="off" formControlName="videovisto">
            </mat-form-field>
            <app-control-messages [control]="form.get('videovisto')"></app-control-messages>
            
            <div class="field-message" *ngIf="$any(form.get('videovisto')).value.indexOf('&')>0; else elseBlock">
                       
              <span class="textoerrorinput">Tiene un elemento de tipo & no correcto</span>
              <br>

              
                <button class="btn" [swal]="['La url del video contiene el caracter &, por lo cual debe removerlo del video, ya que no se aceptán como entrada']">
                  <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                  <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
              
          </div>
          <ng-template #elseBlock></ng-template>

          <mat-form-field  appearance="fill">
            <mat-label>DBA</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="autodba"
                   [formControl]="stateCtrldba"
                   (change)="stateCtrldba"
                   [(ngModel)]="selectiondba"
                       (focus)="verificacion()"
                       (blur)="verificacion()"
                       (mouseleave)="verificacion()"
                   >
                   <div *ngIf="showAlert" class="col-md-7 mb-2">
                    <div class="alert alert-danger">
                         <strong>No hay dba disponibles</strong>
                    </div>
                </div>
            <mat-autocomplete #autodba="matAutocomplete" (optionSelected)="selecteddba($event)">
              <mat-option *ngFor="let state of filtrardba | async" [value]="state">
                <span>{{state}}</span>
     
                
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
          <app-control-messages  [control]="stateCtrldba"></app-control-messages>
          <div *ngIf="probarclickdba == false && inicio">
            <button class="btn" [swal]="['El valor de dba seleccionado presenta un error, selecione otro porfavor']">
              <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
              <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
          </div>
          <mat-form-field  appearance="fill">
            <mat-label>Docente</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="autodocente"
                   [formControl]="stateCtrldocentes"
                   (change)="stateCtrldocentes"
                   [(ngModel)]="selectiondoc"
                   (focus)="verificacion()"
                   (blur)="verificacion()"
                   (mouseleave)="verificacion()"
                   >
                   <div *ngIf="showAlert" class="col-md-7 mb-2">
                    <div class="alert alert-danger">
                         <strong>No hay dba disponibles</strong>
                    </div>
                </div>
            <mat-autocomplete #autodocente="matAutocomplete" (optionSelected)="selectedDocentes($event)">
              <mat-option *ngFor="let state of filtrardocentes| async" [value]="state.nombre">
                <span>{{state.nombre}}</span>
     
                
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

              <app-control-messages  [control]="stateCtrldocentes"></app-control-messages>

              <div *ngIf="probarclickdoc == false && inicio">
                <button class="btn" [swal]="['El valor de docente seleccionado presenta un error, selecione otro porfavor']">
                  <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                  <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
              </div>

              <mat-form-field  appearance="fill">
                <mat-label>Estudiante</mat-label>
                <input matInput
                       aria-label="State"
                       [matAutocomplete]="autoestudiante"
                       [formControl]="stateCtrlestudiantes"
                       (change)="stateCtrlestudiantes"
                       [(ngModel)]="selectionest"
                       (focus)="verificacion()"
                       (blur)="verificacion()"
                       (mouseleave)="verificacion()"
                       >
                       <div *ngIf="showAlert" class="col-md-7 mb-2">
                        <div class="alert alert-danger">
                             <strong>No hay dba disponibles</strong>
                        </div>
                    </div>
                <mat-autocomplete #autoestudiante="matAutocomplete" (optionSelected)="selectedEstudiantes($event)">
                  <mat-option *ngFor="let state of filtrarestudiantes| async" [value]="state.nombre">
                    <span>{{state.nombre}}</span>
         
                    
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
    
                  <app-control-messages  [control]="stateCtrlestudiantes"></app-control-messages>
                  <div *ngIf="probarclickest == false && inicio">
                    <button class="btn" [swal]="['El valor de estudiante seleccionado presenta un error, selecione otro porfavor']">
                      <i class="fa fa-exclamation-triangle fa-2x red-text pr-2" aria-hidden="true"></i></button>
                      <h1 class="inputerrorinputicon">Presione el signo de exclamación para conocer el error</h1>
                  </div>
        </div>

        <div *ngIf="activate">

          <span class="textoerrorinput">El registro de historial de usuario ya se encuentra registrado</span>
          <br>
        </div> 

          <div>
            <button   class="ancho boton" mat-flat-button color="warn" mat-dialog-close>Cerrar</button>
            <button *ngIf="btnact" type="submit" class="ancho boton" mat-flat-button color="primary" [disabled]="form.invalid">Guardar</button>
          </div>
        </form>
</div>
